In [6]:
import pandas as pd
import geopandas as gpd
import numpy as np
from pathlib import Path

BASE_DIR = Path('.').resolve().parent
print(BASE_DIR)
df = pd.read_csv(BASE_DIR.joinpath('QCShapefiles/make_qc_shapefiles/classes_for_points.csv'))
gdf = gpd.read_file(BASE_DIR.joinpath('QCShapefiles/test/test_data/test_data_out/WV_C18_L12/WV_C18_L12_points.shp'))
#gdf['QC_subNum'] = gdf['QC_subNum'].astype(int)
gdf['QC_subNum'] = 9240
gdf.head()
df[df['Int_SubNum_csv'] == 9240]
df['Int_SubNum_csv'].dtype

F:\Documents\projects\PN19032_EAD_Habitat_Mapping\programming\qc-shapefiles

dtype('int64')

In [8]:
def join_pt_to_csv(point, csv):
    """Return gdf of point file joined with classes joined to csv and filled in

    Parameters:
    point:: (Path) --> Path to point shapefile
    csv:: (Path) --> Path to csv with classes
    """
    gdf = gpd.read_file(point)
    gdf['QC_subNum'] = 9240
    gdf['QC_subNum'] = gdf['QC_subNum'].astype(int)
    print(gdf.head())
    df = pd.read_csv(csv)
    df['QC_subNum'] = df['Int_SubNum_csv']
    gdf = gdf.merge(df, on='QC_subNum', how='left')
    print(gdf.head())
    gdf['QC_subCls'] = gdf['Int_SubCls_csv']
    gdf['QC_cls'] = gdf['Int_cls_csv']
    #gdf['QC_subNum'] = gdf['Int_SubNum_csv'].astype(int)
    gdf['QC_num'] = gdf['Int_num_csv'].astype(int)
    cols = ['ID', 'Int_cls', 'Int_num', 'Int_subCls', 'Int_subNum', 'QC_cls', 'QC_num', 'QC_subNum', 'QC_subCls', 'QC_By', 'geometry']
    print(gdf['QC_subNum'])
    #gdf['Int_cls'] = gdf['Int_cls_x']
    #gdf['Int_num'] = gdf['Int_cls_x']
    gdf = gdf[cols]
    return gdf
gdf = join_pt_to_csv(BASE_DIR.joinpath('QCShapefiles/test/test_data/test_data_out/WV_C18_L12/WV_C18_L12_points.shp'), BASE_DIR.joinpath('QCShapefiles/make_qc_shapefiles/classes_for_points.csv'))
gdf

   ID              Int_cls  Int_num      Int_subCls  Int_subNum QC_cls QC_num  \
0   0  Urban habitat types     9000  Other industry        9240   None   None
1   1  Urban habitat types     9000  Other industry        9240   None   None
2   2  Urban habitat types     9000  Other industry        9240   None   None
3   3  Urban habitat types     9000  Other industry        9240   None   None
4   4  Urban habitat types     9000  Other industry        9240   None   None

   QC_subNum QC_subCls  QC_By                                     geometry
0       9240      None  David  POINT (714493.5064871117 2614233.887064749)
1       9240      None  David  POINT (718695.6038294244 2617682.737437208)
2       9240      None  David  POINT (717731.3947098125 2615384.201067376)
3       9240      None  David  POINT (712456.1058076668 2618183.861520255)
4       9240      None  David  POINT (712261.2026107756 2613289.078196365)
   ID              Int_cls  Int_num      Int_subCls  Int_subNum QC_cls QC_num  \
0   0  Urban habitat types     9000  Other industry        9240   None   None
1   1  Urban habitat types     9000  Other industry        9240   None   None
2   2  Urban habitat types     9000  Other industry        9240   None   None
3   3  Urban habitat types     9000  Other industry        9240   None   None
4   4  Urban habitat types     9000  Other industry        9240   None   None

   QC_subNum QC_subCls  QC_By                                     geometry  \
0       9240      None  David  POINT (714493.5064871117 2614233.887064749)
1       9240      None  David  POINT (718695.6038294244 2617682.737437208)
2       9240      None  David  POINT (717731.3947098125 2615384.201067376)
3       9240      None  David  POINT (712456.1058076668 2618183.861520255)
4       9240      None  David  POINT (712261.2026107756 2613289.078196365)

   Int_num_csv          Int_cls_csv  Int_SubNum_csv  Int_SubCls_csv  MMU_
0         9000  Urban habitat types            9240  Other industry     1
1         9000  Urban habitat types            9240  Other industry     1
2         9000  Urban habitat types            9240  Other industry     1
3         9000  Urban habitat types            9240  Other industry     1
4         9000  Urban habitat types            9240  Other industry     1
0      9240
1      9240
2      9240
3      9240
4      9240
       ...
486    9240
487    9240
488    9240
489    9240
490    9240
Name: QC_subNum, Length: 491, dtype: int32

,ID,Int_cls,Int_num,Int_subCls,Int_subNum,QC_cls,QC_num,QC_subNum,QC_subCls,QC_By,geometry
0,0,Urban habitat types,9000,Other industry,9240,Urban habitat types,9000,9240,Other industry,David,POINT (714493.5064871117 2614233.887064749)
1,1,Urban habitat types,9000,Other industry,9240,Urban habitat types,9000,9240,Other industry,David,POINT (718695.6038294244 2617682.737437208)
2,2,Urban habitat types,9000,Other industry,9240,Urban habitat types,9000,9240,Other industry,David,POINT (717731.3947098125 2615384.201067376)
3,3,Urban habitat types,9000,Other industry,9240,Urban habitat types,9000,9240,Other industry,David,POINT (712456.1058076668 2618183.861520255)
4,4,Urban habitat types,9000,Other industry,9240,Urban habitat types,9000,9240,Other industry,David,POINT (712261.2026107756 2613289.078196365)
...,...,...,...,...,...,...,...,...,...,...,...
486,14,Urban habitat types,9000,Other industry,9240,Urban habitat types,9000,9240,Other industry,David,POINT (712598.7355486569 2613630.57349997)
487,22,Urban habitat types,9000,Other industry,9240,Urban habitat types,9000,9240,Other industry,David,POINT (711673.7342969761 2614550.128307415)
488,28,Urban habitat types,9000,Other industry,9240,Urban habitat types,9000,9240,Other industry,David,POINT (713008.7360139404 2613646.775211999)
489,36,Urban habitat types,9000,Other industry,9240,Urban habitat types,9000,9240,Other industry,David,POINT (712558.3602555357 2614708.9827305)
490,38,Urban habitat types,9000,Other industry,9240,Urban habitat types,9000,9240,Other industry,David,POINT (715261.3051984368 2613452.491225886)